In [2]:
student = ('jim', 16, 'male', 'jim@qq.com')

#name
print(student[0])

#age
if student[1] >= 18:
    pass

#sex 
if student[2] == 'male':
    pass

jim

如何为元组中每个元素命名

In [3]:
#方案1 定义索引
# NAME = 0
# AGE = 1
# SEX = 2
NAME, AGE, SEX, EMAIL = range(4)
student[NAME]
student[AGE]
#...

16

In [11]:
#方案2 使用标准库中collections.namedtuple 替代内置tuple
from collections import namedtuple

Student = namedtuple('student', ['name', 'age', 'sex', 'email'])

s1 = Student('jim', 16, 'male', 'jim@qq.com')

s2 = Student(name='jim', age=16, sex='male', email='jim@qq.com')

print(s1)
print(s2)

student(name='jim', age=16, sex='male', email='jim@qq.com')
student(name='jim', age=16, sex='male', email='jim@qq.com')

In [12]:
s1.name

'jim'

In [13]:
isinstance(s1, tuple)

True